.resetMarginPadding {
	margin:0px;
	padding:0px;
}
.centerText{
	text-align: center;
}
.centerElement{
	float:none;
	margin:0 auto;
}
.angular-google-map-container { height: 400px; width:100%; }
/*
For elements with both the ng-valid and ng-dirty classes
*/
.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}