<div class="container">
	<h2>Add a property</h2>
	<form novalidate name="propertyForm" ng-submit="propertyForm.$valid && addProperty()">
		<div class="row">
		<div class="form-group col-md-6">
			<label for="title">Property title:</label>
			<input type="text" class="form-control" name="title" ng-model="property.title" required>
		</div>
		</div>
		<div class="row">
		<div class="form-group col-md-6">
			<label for="propertyType">Property type:</label>
			<select ng-options="propertyType.id as propertyType.name for propertyType in propertyTypes" class="form-control" name="propertyType" ng-model="property.propertyType" required></select>
		</div>
		</div>
		<div class="row">
		<div class="form-group col-md-6">
			<label for="size">Property size:</label>
			<div class="input-group">
			<input type="number" class="form-control" name="size" ng-model="property.size" required>
  			<span class="input-group-addon">m^2</span>
  			</div>
		</div>
		</div>
		<div class="row">
		<div class="form-group col-md-6">
			<label for="bedroomCount">Bedroom count:</label>
			<input type="number" class="form-control" name="bedroomCount" ng-model="property.bedroomCount" required>
		</div>
		</div>
		<div class="row">
		<div class="form-group col-md-6">
			<label for="bathroomCount">Bathroom count:</label>
			<input type="number" class="form-control" name="bathroomCount" ng-model="property.bathroomCount" required>
		</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="address">Address:</label>
				<input type="text" name="address" id="Autocomplete" options="autoCompleteOptions" ng-autocomplete
				details="details" ng-model="address" class="form-control" check-query="{{property.address}}"/>
				<p ng-if="map.center.latitude != 0">Pro tip: drag the marker to specify the location!</p>
				<ui-gmap-google-map ng-if="map.center.latitude != 0" center='map.center' zoom='map.zoom'>
					<ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id"></ui-gmap-marker>
				</ui-gmap-google-map>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="photos">Property photos:</label>
				<div ng-file-drop ng-file-select ng-model="photos" class="drop-box" 
			        drag-over-class="dragover" ng-multiple="true" allow-dir="true"
			        accept="image/*">Drop photos here or click to upload</div>
			    <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>
			    <div class="col-md-8">
				    <div ng-show="photosToUpload.length > 0" class="photosToUpload">
						<div class="row" ng-repeat="f in photosToUpload">
							<button ng-click="removePhoto(f)" type="button" class="deletePhoto btn btn-default" aria-label="Left Align">
							  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							</button>
							<img ng-show="f.dataUrl" ng-src="{{f.dataUrl}}" class="thumbnail">
							
								<div class="progress" ng-show="f.progress >= 0">
								  <div class="progress-bar" role="progressbar" aria-valuenow="{{f.progress}}" aria-valuemin="0" aria-valuemax="100" style="width: {{f.progress}}%;">
								    {{f.progress}}
								  </div>
								</div>
							<button class="btn btn-default" ng-click="f.upload.abort();f.upload.aborted=true" 
									ng-show="f.upload != null && f.progress < 100 && !f.upload.aborted">Abort</button>
							
							{{f.name}} - size: {{f.size}}B
							<hr/>
							
							<!--  <a ng-show="f.result" href="javascript:void(0)" ng-click="f.showDetail = !f.showDetail">details</a>
							<div ng-show="f.showDetail">
								<br/>
								<div data-ng-show="f.result.result == null">{{f.result}}</div>
								<ul>
									<li ng-repeat="item in f.result.result">
										<div data-ng-show="item.name">file name: {{item.name}}</div>
										<div data-ng-show="item.fieldName">name: {{item.fieldName}}</div>
										<div data-ng-show="item.size">size on the serve: {{item.size}}</div>
										<div data-ng-show="item.value">value: {{item.value}}</div>
									</li>
								</ul>
								<div data-ng-show="f.result.requestHeaders" class="reqh">request headers: {{f.result.requestHeaders}}</div>
							</div>-->
						</div>
					</div>
				
			    <div><button class='btn btn-default' ng-click="upload()">Upload photos</button></div>
			    </div>
			</div>
			
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="description">Property description:</label>
				<textarea rows="20" class="form-control" name="description" ng-model="property.description" required></textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="rules">Your rules:</label>
				<textarea rows="15" class="form-control" name="rules" ng-model="property.rules" required></textarea>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="size">Price per night:</label>
				<input type="number" class="form-control" name="pricePerNight" ng-model="property.pricePerNight" required>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for="size">Minimum length of stay:</label>
				<div class="input-group">
					<input type="number" class="form-control" name="minimumNights" ng-model="property.minimumNights" required>
					<span class="input-group-addon">nights</span>
  				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<input type="submit" value="Add a property" class="btn btn-default"/>
			</div>
		</div>
	</form>
	
</div>