<div class="container">
	<div class="row">
		<div class="col-md-3">
			<ul class="nav nav-pills nav-stacked">
				<li class="nav-header">My properties:</li>
				<li ng-repeat="property in properties" ui-sref-active="active">
					<a ui-sref="showMyProperties.detail({propertyId:property.id})">
						{{property.title}}<br/>
						<span class="smallInfo">{{property.city}}, {{property.administrativeArea}}, {{property.country}}</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="col-md-9">
			<div ui-view></div>
		</div>
	</div>
</div>