.resetMarginPadding {
	margin:0px;
	padding:0px;
}
.centerText{
	text-align: center;
}
.centerElement{
	float:none;
	margin:0 auto;
}
.angular-google-map-container { height: 400px; width:100%; }
/*
For elements with both the ng-valid and ng-dirty classes
*/
.ng-invalid.ng-dirty {
  border-color: red;
  outline-color: red;
}
.ng-valid.ng-dirty {
  border-color: green;
  outline-color: green;
}
[class^="col-md-"]{
	padding: 0 5px 0 5px;
}
.formSection{
	padding:5px;
}
.apartmentBlock{
	padding:5px;
	margin:5px;
}
.apartmentBlock:hover{
	text-decoration: none;
}
.apartmentTitle{
	font-size: 25px;
}
.apartmentLocation{
	font-size:15px;
	color:black;
}
.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 300px;
    height: 150px;
    text-align: center;
    padding-top: 25px;
}
.dragover {
    border: 5px dashed blue;
}
.thumbnail{
	width:200px;
}
.deletePhoto{
	float:right;
}
.photosToUpload{
	margin:10px 0 10px 5px;
}